.jumbotron-container {

    background-color: #d8f3dc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23d8f3dc' width='11' height='11'/%3E%3Crect fill='%23d3f1d8' x='10' width='11' height='11'/%3E%3Crect fill='%23cff0d4' y='10' width='11' height='11'/%3E%3Crect fill='%23caeed0' x='20' width='11' height='11'/%3E%3Crect fill='%23c5edcc' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23c1ebc9' y='20' width='11' height='11'/%3E%3Crect fill='%23bceac5' x='30' width='11' height='11'/%3E%3Crect fill='%23b7e8c1' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23b3e7be' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23aee5ba' y='30' width='11' height='11'/%3E%3Crect fill='%23aae3b6' x='40' width='11' height='11'/%3E%3Crect fill='%23a5e2b3' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23a1e0b0' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%239cdfac' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2397dda9' y='40' width='11' height='11'/%3E%3Crect fill='%2393dba6' x='50' width='11' height='11'/%3E%3Crect fill='%238edaa2' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%238ad89f' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2385d69c' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%2381d599' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%237cd396' y='50' width='11' height='11'/%3E%3Crect fill='%2378d193' x='60' width='11' height='11'/%3E%3Crect fill='%2374cf90' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%236fce8d' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%236bcc8a' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2366ca87' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2362c884' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%235dc782' x='70' width='11' height='11'/%3E%3Crect fill='%2359c57f' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2355c37c' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2350c17a' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%234cbf77' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2348bd74' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2343bb72' x='80' width='11' height='11'/%3E%3Crect fill='%2342b770' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2341b26e' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%233fad6c' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%233ea86a' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%233ca468' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%233b9f66' x='90' width='11' height='11'/%3E%3Crect fill='%23399a64' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23389661' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2336915f' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23358c5d' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2333885b' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23328358' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23307e56' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%232f7a53' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%232d7551' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%232b704e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%232a6c4b' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23286749' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23276346' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23255e43' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23235a41' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2322553e' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2320513b' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%231e4c38' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%231d4735' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%231b4332' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    /* background-color: #2a852c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(17,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%232a852c'/%3E%3Cstop offset='1' stop-color='%23996f0e'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(58,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23cf8' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23cf8' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg %3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size:cover; */

    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.jumbotron-container > h1 {
    color: #fff;
    font-size: 60px;
    margin-top: 40px;
}

.jumbotron-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 18px;
}

.jumbotron-btns {
    margin-top: 80px;
}

.jumbotron-btns .btn {
    margin: 6px;
}

@media screen and (max-width: 960px) {
    .jumbotron-container > h1 {
        font-size: 30px;
        margin-top: 38px;
    }
}

@media screen and (max-width: 768px) {
    .jumbotron-container > h1 {
        font-size: 26px;

        margin-top: 30px;
    }
}